
.oraganic-head{
    background-color: whitesmoke;
    height: 60px;
    padding-top: 20px;
    padding-left: 150px;

}
.leaf{
    margin-top: 20px;
}
.orga{
    font-weight: 900;
}
.farming{
    font-size: 25px;
    font-weight: lighter;

}