.header{
    text-align: center;
    }
    .img{
        width: 60px;
        height: 60px;
        text-align: center;
        border-radius: 30px;
        margin-left: 20px;
    }
    .anchor{
        padding-top: 13px;
        margin-right: 20px;
        font-size: 22px;
        color: white;
    
    }
    .second-header{
        height: 60px;
    }
    .color{
        color: white;
        padding-top: 13px;
        font-size: 22px;
    }