.sidehead-2{
    margin-right: 160px;
}
.list-group-item{
    border: none;
}
.main-head{
    max-width: 28%;
    position: fixed;
    
    

}
.zid{
    z-index: 1;
}
.col.md-3{
    margin-top: 10px;
}
.box{
    background-color: red;
   max-width:  369px;
    height:160px ;
    
}
.box-1 {
    background-color: blue;
    max-width:  369px;
     height:160px ;
     margin-left: 60px;
}
.box-2 {
    background-color:green;
    max-width:  369px;
     height:160px ;
     margin-left: 60px;
}
.box-3 {
    background-color:orange;
    max-width:  369px;
     height:160px ;
     margin-left: 60px;
     
}
.mainhead-2{
margin-left: 229px;
max-width: 100%;
}
.dot:hover{
    background-color:cyan ! important;
    
}
a{
    text-decoration: none;
}