.col-md-12,.col-md-4,.col-md-6,.col-md-3,.col-md-2,.col-md-1{
    border: solid 2px red;
    height: 150px;
    text-align: center;
    padding: 10px;

}
.col-md-12{
    background: salmon;
    
}
.col-md-4{
    background-color: sandybrown; 
}
.col-md-6{
    background-color:aqua;
}
.col-md-3{
    background-color:greenyellow;
}
.col-md-2{
    background-color: violet;
}
.col-md-1{
    background-color:blueviolet;


}
.row{
    margin:40px;
    
}

