body{
    margin: 0px;
}

.container-a{
    background-color: coral;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.vbm{
    width: 130px;
    height: 100px;
    margin-left: 10px;
}

.box-a{
    margin-right: 10px;
}
.home{
    background-color: lime;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box-1{
    background-color:lightslategrey;
    height: 170px;
    width: 270px;
    text-align: center;
    border-radius: 50px;
    
    
}
.boxs{
    display: flex;
    justify-content: space-around;
    margin-top:50px;
}
@media only screen and (max-width:600px){
    .container-a{
        background-color: fuchsia;
    }
    .boxs{
       flex-direction:column;
    }
    .home{
        display: none;
    }
    .box-1{
        width: 94%;
        margin-bottom: 20px;
        margin-left: 10px;
    }
}
@media only screen and (min-width:600px) and (max-width:800px){
    .container-a{
        background-color: lightcoral;
    }
    .boxs{
        flex-direction: column;
       
    }
    .box-1{
        width: 94%;
        margin-bottom: 20px;
        margin-left: 10px;
        
    }
   
}


@media only screen and (min-width:800px) and (max-width:1300px){
    .container-a{
        background-color: orange;
    }
    
}













