.col-md-1,.col-md-10{
    height: 70px;
        padding-top: 22px;
}
.img-1{
    height: 38px;
    width: 80px;
    padding-bottom: 12px;
       
}
.log{
    padding-top: 19px;

}

.container{
    background:aqua;
    margin-top: 30px;
    margin-left: 20px;
    max-width:25% !important;
    height: 900px !important;
}
.sel{
    width: 20px;
}
.size{
    margin-bottom: 13px;
}.size-1{
    margin: 7px;
}.size-2{
width: 120px !important;
height: 30px !important;
margin-bottom: 13px;
}
.col-md-4{
    width: 50px;
}