.img{
    height: 80px;
    width: 120px;
    margin: 10px;
    

    
}

.col-md-4{
    height: 250px;
    max-width: 29.6%;
    text-align: center;
    
}
.col-md-6{
    height: 250px;
    max-width: 45.66%;
    text-align: center;
}
.col-md-12{
    height: 250px;
    max-width: 95%;
    font-size: 20px;
}

